<main class="container-fluid page">
  <section class="page-wrapper">

    @if (error) { <p class="ui-error" role="alert">{{ error }}</p> }

    @if (successMsg) {<p class="ui-success">{{ successMsg }}</p>}

    <section class="cards-grid">
      @for (t of topics; track t.id) {
        <section class="card">
          <h3 class="card-title">{{ t.name }}</h3>

          <p class="meta-row">
            <span class="clamp-3">
            {{ t.description ? 'Description : ' + t.description : '/' }}
            </span>
          </p>

          <footer class="text-center">
            @if (!isSubscribed(t)) {
              <button class="btn btn-primary" (click)="subscribe(t.id)">S’abonner</button>
            } @else {
              <button class="btn btn-info" (click)="unsubscribe(t.id)">Se désabonner</button>
            }
          </footer>

        </section>
      }
    </section>
  </section>
</main>
