<h2>Créer un post</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label>Topic</label>
    <select formControlName="topicId">
      <option [ngValue]="null">-- Choisir --</option>
      @for ( t of topics ; track t.id) {
        <option [ngValue]="t.id">{{ t.name }}</option>
      }
    </select>
  </div>

  <div>
    <label>Titre</label>
    <input formControlName="title" />
  </div>

  <div>
    <label>Contenu</label>
    <textarea formControlName="content"></textarea>
  </div>

  <button type="submit">Publier</button>
</form>

@if (error) {
  <p style="color:red">{{ error }}</p>
}

