<main class="container-fluid page">

  <page-header
    [title]="'Créer un nouvel article'"
    [btnBack]="true">
  </page-header>

  <section class="page-content form-wrapper">

    <form [formGroup]="form" (ngSubmit)="submit()">

      <fieldset class="form-fields">

        <select class="ui-select mt-md"  formControlName="topicId">
          <option [ngValue]="null">Sélectionner un thème</option>
          @for ( t of topics ; track t.id) {
            <option [ngValue]="t.id">{{ t.name }}</option>
          }
        </select>

        <input class="ui-input mt-sm" id="title" type="text" placeholder="Titre de l'article" formControlName="title" />

        <textarea
          class="ui-textarea mt-sm"
          id="password"
          placeholder="Contenu de l'article"
          rows="5"
          formControlName="content">
        </textarea>

      </fieldset>

      @if (error) {
        <p class="ui-error">{{ error }}</p>
      }

      <button type="submit" class="btn btn-primary mt-md">
        Publier
      </button>

    </form>

  </section>

</main>

