<main class="container-fluid page">
  <section class="page-wrapper">

    @if (error) { <p class="ui-error" role="alert">{{ error }}</p> }

    <div class="action-bar">
      <button class="btn btn-primary" routerLink="/posts/new">Créer un article</button>
      <button type="button" class="link-btn action-right" (click)="toggleSort()">
        Trier par
        <span class="arrow">
          {{ sortAsc ? '↑' : '↓' }}
        </span>
      </button>
    </div>

    <section class="cards-grid">
      @for (p of posts; track p.id) {
        <a class="card" [routerLink]="['/posts', p.id]">
          <h3 class="card-title">{{ p.title }}</h3>

          <section class="meta-row">
            <span>{{ p.createdAt | date:'dd/MM/yyyy' }}</span>
            <span>{{ p.authorUsername }}</span>
          </section>

          <p class="clamp-5">{{ p.content }}</p>
        </a>
      }
    </section>

  </section>

</main>
